 #main {
    margin-top:57px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: grid;
}

#offcanvasRight {
    background-color: #f8f9fa;
}



 #left-over {
    background-image: url(https://images.unsplash.com/photo-1617709612173-d820eb8b862f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1563&q=80);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;

   
 }

 #main-container {
    height: 100%;
    display: grid;
    grid-template-columns: 500px auto;
    grid-row: 200px;
    grid-template-areas: 
        "left right";
 }



 #timer-todo-section {
    height: 100%;
    /* border: 2px solid red; */
    /* border-width: 0px 2px 0px 0px;
    border-color: grey;
    border-style: solid; */
    background-color: #f8f9fa;
    position: relative;
    grid-area: left;
    box-shadow: 0 6rem 0rem rgba(0,0,5,0)!important;
 }
  

 #left-over {
    height: 100%;
    /* border: 2px solid green; */
    /* background-color: white; */
    position: relative;
    grid-area: right;
 }

 /* Adds the common background properties for weather display */
.weather-display {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/* Adds the clear sky background image */
.clear-sky {
   background-image: url("https://img.freepik.com/free-photo/sunshine-clouds-sky-during-morning-background-blue-white-pastel-heaven-soft-focus-lens-flare-sunlight-abstract-blurred-cyan-gradient-peaceful-nature-open-view-out-windows-beautiful-summer-spring_1253-1094.jpg?size=626&ext=jpg&ga=GA1.1.1223525305.1675029394");
}

/* Adds the night sky background image */
.night-sky {

   color: white;
   background-image: url("https://img.freepik.com/premium-photo/night-with-moon-light_10221-405.jpg?size=626&ext=jpg&ga=GA1.1.1223525305.1675029394&semt=ais");

}

/* Adds the background image for thunderstorm */
.thunderstorm {

   color: white;
   background-image: url("https://images.unsplash.com/photo-1536061125439-5ef97c6f95aa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=Mnw0MDQ0OTh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzUxMDQ4MDc&ixlib=rb-4.0.3&q=80&w=400");

}

/* Adds a rainy weather background image */
.rainy {
   background-image: url("https://img.freepik.com/free-photo/natural-water-rain-drops-glass-window-abstract-texture-background_640221-159.jpg?w=1060&t=st=1675107177~exp=1675107777~hmac=21e696c774569847e204e6f7c3a3be65e9bbdf92abf2b0c7060533bf3ee735a8");
}

/* Adds a background image when it snows */
.snow {

   background-image: url("https://img.freepik.com/premium-vector/christmas-snow-falling-snowflakes-blue-background-snowfall-vector-illustration_302982-1814.jpg?size=626&ext=jpg&ga=GA1.2.1223525305.1675029394&semt=sph");

}
